<section class="modal-product">
    <header>
        <h2>Product</h2>
        <span (click)="closeProductModal()" class="material-icons close">close</span>
    </header>
    <form [formGroup]="modalProductForm">
        <article>
            <div class="input-form">
                <span class="material-icons">lunch_dining</span>
                <input formControlName="name" type="text" placeholder="Name">
            </div>
        </article>
        <article>
            <div class="input-form">
                <span class="material-icons">inventory</span>
                <select formControlName="type" name="type">
                    <option disabled value="type">Type</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                </select>
            </div>
        </article>
        <article>
            <div class="input-form">
                <span class="material-icons">attach_money</span>
                <input formControlName="price" type="text" placeholder="Price">
            </div>
        </article>
        <article>
            <div class="input-form">
                <span class="material-icons">add_photo_alternate</span>
                <input formControlName="image" type="text" placeholder="Image URL">
            </div>
        </article>
    </form>
    <button (click)="sendProduct()" [disabled]="!modalProductForm.valid">Send</button>
</section>
<div class="shadow" (click)="closeProductModal()"></div>