<section>
    <div class="add-user">
        <button (click)="openUserModal()"><span class="material-icons">person_add</span>Add user</button>
    </div>
    <div class="users-content">
        <h2>Waiters</h2>
        <section>
            <article *ngFor="let user of waiter">
                <h3>{{user.name}}</h3>
                <div>
                    <button (click)="onClickUserEdit(user)"><span class="material-icons">edit</span>Edit</button>
                    <button (click)="openModalDelete(user, 'user')"><span
                            class="material-icons">delete</span>Delete</button>
                </div>
            </article>
        </section>
    </div>
    <div class="users-content">
        <h2>Chefs</h2>
        <section>
            <article *ngFor="let user of chef">
                <h3>{{user.name}}</h3>
                <div>
                    <button (click)="onClickUserEdit(user)"><span class="material-icons">edit</span>Edit</button>
                    <button (click)="openModalDelete(user, 'user')"><span
                            class="material-icons">delete</span>Delete</button>
                </div>
            </article>
        </section>
    </div>
    <div class="users-content">
        <h2>Admins</h2>
        <section>
            <article *ngFor="let user of admin">
                <h3>{{user.name}}</h3>
                <div>
                    <button (click)="onClickUserEdit(user)"><span class="material-icons">edit</span>Edit</button>
                    <button (click)="openModalDelete(user, 'user')"><span
                            class="material-icons">delete</span>Delete</button>
                </div>
            </article>
        </section>
    </div>
</section>