section,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

header {
  width: 20%;
}

.logo {
  max-width: 100%;
}

article {
  width: 400px;
}

.eye-icon {
  cursor: pointer;
}

.error {
  color: var(--error-color);
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
  font-weight: 400;
}

.background-image {
  display: none;
}

.section-form button:enabled {
  background-color: var(--main-color);
  color: var(--main-dark-color);
}

.section-form button:active {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}

@media (min-width: 1194px) {

  .container {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  section {
    width: 100%;
  }

  header {
    width: 25%;
  }

  .background-image {
    height: 100%;
    display: block;
    background-image: url('../../assets/burgers-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}