section,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

header {
  width: 20%;
}

.logo {
  max-width: 100%;
}

article {
  width: 400px;
}

.eye-icon {
  cursor: pointer;
}

.error {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  color: var(--error-color);
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
  font-weight: 400;
}
.error span {
  padding-top: 3px;
}

.background-image {
  display: none;
}

.section-form button:enabled {
  background-color: var(--main-color);
  color: var(--main-dark-color);
}

.section-form button:active {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}

@media (min-width: 1194px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  section {
    width: 100%;
  }

  header {
    width: 25%;
  }

  .background-image {
    display: block;
    height: 100%;
    position: relative;
  }
  .background-image div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .background-image div:first-child {
    z-index: 1;
    animation-name: fadeOut;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes fadeOut {
    0%,
    35% {
      opacity: 1;
    }
    55%,
    100% {
      opacity: 0;
    }
  }
}
