<section class="container">
  <section class="background-image">
    <div *ngFor="let image of images" [style.background-image]="'url(' + image + ')'"></div>
  </section>
  <section>
    <header>
      <img class="logo" src="../../assets/Logo-Burger-Queen.png" alt="burger-queen-logo">
    </header>

    <section class="section-form">
      <!-- Enlazando el "form HTML" a "loginForm" del Component.ts -->
      <!-- Asignando la función onSubmit al evento ngSubmit -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <article>
          <div class="input-form">
            <span class="material-icons mail-icon">mail_outline</span>
            <input formControlName="email" placeholder="Email">
          </div>
          <!-- Utilizando ngIf para mostrar/ocultar errores, con el método controls asociado a la variable "email" -->
          <div class="error" *ngIf="loginForm.controls['email'].hasError('email')">
            <span class="material-icons">
              error_outline
            </span>
            <p>Please enter a valid email address.</p>
          </div>
        </article>
        <article>
          <div class="input-form">
            <span class="material-icons mail-icon">lock_outline </span>
            <!-- Usando atributos de enlace de datos para cambiar el atributo type en función de la variable "hide" -->
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" placeholder="Password">
            <!-- asignando método togglePassword al evento click -->
            <span class="material-icons eye-icon" (click)="togglePassword()">{{ hide ? 'visibility_off'
              :'visibility'}}
            </span>
          </div>
          <div class="error" *ngIf="loginForm.controls['password'].hasError('minlength')">
            <span class="material-icons">
              error_outline
            </span>
            <p>Password must be at least 6 characters long.</p>
          </div>
        </article>
        <!-- Usando atributo disabled para habilitar y deshabilitar el botón dependiendo de la validación de email-password-->
        <button type="submit" [disabled]="!loginForm.valid">Submit</button>
      </form>
    </section>
  </section>

</section>