<section class="container">

  <section class="background-image"></section>
  <section>
    <header>
      <img class="logo" src="../../assets/Logo-Burger-Queen.png" alt="burger-queen-logo">
    </header>

    <section class="section-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <article>
          <div class="input-form">
            <span class="material-icons mail-icon">mail_outline</span>
            <input formControlName="email" placeholder="Email">
          </div>
          <div class="error" *ngIf="loginForm.controls['email'].hasError('email')">
            Please enter a valid email address.
          </div>
        </article>
        <article>
          <div class="input-form">
            <span class="material-icons mail-icon">lock_outline </span>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" placeholder="Password">
            <span class="material-icons eye-icon" (click)="togglePassword()">{{ hide ? 'visibility_off'
              :'visibility'}}
            </span>
          </div>
          <div class="error" *ngIf="loginForm.controls['password'].hasError('minlength')">
            Password must be at least 6 characters long.
          </div>
        </article>
        <button type="submit" [disabled]="!loginForm.valid">Submit</button>
      </form>
    </section>
  </section>

</section>
