<section class="container-menu">
  <header class="image-menu">
    <nav>
      <span class="material-icons">notifications</span>
      <span class="material-icons">restaurant_menu</span>
      <span class="material-icons">logout</span>
    </nav>
    <h1>Burger Queen</h1>
  </header>
  <section class="container-products">
    <article *ngFor="let product of products" class="product">
      <img src="{{product.image}}">
      <h3>{{product.name}}</h3>
      <h3>$ {{product.price}}</h3>
      <button>Add</button>
    </article>
  </section>
</section>