<section>
  <header>
    <nav>
      <button (click)="goToDelivering()"><span class="material-icons">notifications</span>Done</button>
      <button (click)="openModal()"><span class="material-icons">restaurant_menu</span>
        Order <div *ngIf="qty$ | async" class="notification">{{qty$ | async}}</div>
      </button>
      <app-logout-button></app-logout-button>
    </nav>
    <h1>Burger Queen</h1>
  </header>
  <section class="container-products">
    <nav class="container-products_nav">
      <h3>Food category: </h3>
      <button (click)="changeProductType('breakfast')" [class.active]="active1">Breakfast</button>
      <button (click)="changeProductType('lunch')" [class.active]="active2">Lunch</button>
    </nav>
    <div class="client-table">
      <input type="text" placeholder="Client's name" class="input-form" [(ngModel)]="client">
      <input type="number" placeholder="Client's table" class="input-form" [(ngModel)]="table">
    </div>
    <section class="container-products_section">
      <article *ngFor="let product of filteredProducts" class="product">
        <img src="{{product.image}}">
        <h3>{{product.name}}</h3>
        <h3>{{product.price | currency}}</h3>
        <button (click)="onClick(product)">Add</button>
      </article>
    </section>
  </section>
</section>
<section>
  <!-- cambiar el modal -->
  <div *ngIf="modalSwitch == true">
    <app-order [clientName]="client" [clientTable]="table" (resetNameTable)="resetNameTableMenu()"></app-order>
  </div>
</section>