header {
  height: 290px;
  width: 100%;
  background-image: linear-gradient(
      rgba(30, 30, 30, 0.25),
      rgba(30, 30, 30, 0.75)
    ),
    url("../../assets/burgers-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: self-end;
  justify-content: center;
}

header h1 {
  color: var(--main-light-color);
  font-weight: 900;
  padding: 20px;
  text-align: center;
  font-size: 75px;
}

nav {
  display: flex;
  gap: 25px;
  padding: 25px;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
}

.material-icons {
  color: var(--main-light-color);
  font-size: 50px;
}

/* ************************************************************* */
/* products */

.container-products {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.product {
  background-color: var(--second-dark-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 250px;
  min-height: 470px;
  margin: 10px;
  padding: 30px;
  border-radius: 15px;
}
.button {
  margin-top: 5px;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.product h3 {
  color: var(--main-light-color);
  text-align: center;
}
