/* products */
.container-products {
  padding: 25px;
}

/* Section cliente y mesa */
.client-table {
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.client-table input {
  flex-grow: 1;
  margin: 10px;
}

/* navegación breakfast y lunch */
.container-products_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-light-color);
}

.container-products_nav button {
  width: 20%;
  min-width: 180px;
  max-width: 280px;
  background-color: transparent;
  color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

.container-products_nav .active {
  background-color: var(--main-color);
  color: var(--main-dark-color);
  border: none;
}

.container-products_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.product {
  background-color: var(--second-dark-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 250px;
  min-height: 470px;
  margin: 10px;
  padding: 30px;
  border-radius: 15px;
}

.button {
  margin-top: 5px;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.product h3 {
  color: var(--main-light-color);
  text-align: center;
}

.container-products_section button {
  background-color: var(--main-color);
  color: var(--main-dark-color);
}

.product button:active {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}

@media (max-width: 700px) {
  .client-table {
    margin: 10px 30px;
    flex-direction: column;
  }

  .client-table input {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .container-products_nav {
    flex-direction: column;
  }
}