<section class="order-cart">
  <header class="order-header">
    <h2>Order Cart</h2>
    <span class="material-icons close-icon">close</span>
  </header>
  <h3>nombre - mesa</h3>
  <section class="order-summary">
    <article *ngFor="let product of order$ | async">
      <p>{{product.product.name}}</p>
      <div>
        <span class="material-icons remove-icon" (click)="update('minus', product.product._id)">remove</span>
        <p>{{product.qty}}</p>
        <span class="material-icons add-icon" (click)="update('add', product.product._id)">add</span>
      </div>
      <p>{{product.product.price * product.qty | currency }}</p>
      <span class="material-icons delete-icon" (click)="delete(product.product._id)">delete</span>
    </article>
    <div>
      <p>Total</p>
      <p>{{total$ | async | currency}}</p>
    </div>
  </section>
  <button>Send order</button>
</section>