<section>
    <app-header></app-header>
    <section class="container-order">
        <article *ngFor=" let order of orders" class="order">
            <section class="order-info">
                <h3>{{order.client}} - Mesa: {{order.tableNum}}</h3>
                <p>Time: {{order.dataEntry | date:'shortTime'}}</p>
            </section>
            <section class="order-products">
                <article *ngFor="let product of order.products">
                    <p>{{product.product.name}}</p>
                    <p>{{product.qty}}</p>
                </article>
            </section>
            <button (click)="OnClickDone(order)">Done</button>
        </article>
    </section>
</section>