<app-header></app-header>
<section>
    <section>
        <button class="" (click)="changeByAdmin('users')">Users</button>
        <button class="" (click)="changeByAdmin('products')">Products</button>
    </section>
    <section>
        <app-users *ngIf="viewValue == 'users'"></app-users>
        <app-products *ngIf="viewValue == 'products'"></app-products>
    </section>
</section>
<div *ngIf="userSwitch == true">
    <app-modal-user></app-modal-user>
</div>
<div *ngIf="productSwitch == true">
    <app-modal-product></app-modal-product>
</div>